
<div class="ct-preloader">
	<div class="ct-preloader__inner">
		<div class="ct-preloader__spinner"><i class="ct-preloader__1"></i><i class="ct-preloader__2"></i><i class="ct-preloader__3"></i><i class="ct-preloader__4"></i><i class="ct-preloader__5"></i><i class="ct-preloader__6"></i><i class="ct-preloader__7"></i><i class="ct-preloader__8"></i>
		</div>
	</div>
</div>


<!-- *** Page Navigation *** -->
<nav class="ct-menu">
	<div class="topbar">
		<div class="topbar__inner">
			<address class="ct-address ct-footer__address topbar__address">
				<a routerLink="/contato" class="media ct-address__box">
					<div class="media-left"><i class="fa fa-map-marker"></i></div>
					<div class="media-body"><span class="media-heading">Rua Ernesto Alves, 1195, SCS/RS</span></div>
				</a>
				<a routerLink="/contato" class="media ct-address__box">
					<div class="media-left"><i class="fa fa-envelope"></i></div>
					<div class="media-body"><span class="media-heading">contato@boogabol.com.br</span></div>
				</a>
			</address>
		</div>
		<div class="topbar__inner">
			<ul class="ct-socials list-inline list-unstyled">
				<li class="ct-socials__item ct-socials__item--facebook"><a href="https://www.facebook.com/boogabol/"><i class="fa fa-facebook"></i></a>
				</li>				
			</ul>
		</div>
	</div>
	<div class="midbar">

		<div class="midbar__inner">
			<!--<ul class="midbar-nav list-inline">
				<li class="nav-item"><a routerLink="/" routerLinkActive="active">Piquenique</a>
				</li>
				<li class="nav-item"><a routerLink="/atracao" routerLinkActive="active">Teste</a>
				</li>							
			</ul>-->
		</div>
		<div class="midbar__inner"><a href="#" class="midbar__search-toggle"><i class="fa fa-search"></i></a>
		</div>
		<div class="midbar__search midbar__search--default">
			<form class="ct-search form-group">
				<input id="midbar-search" placeholder="Search..." required="required" name="field[]" class="form-control" />
				<label for="midbar-search" class="sr-only">Busca...</label>
				<button type="submit"><i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="navbar navbar-default navbar-fixed">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand">
				<img [src]="helper.urlFilePath+'assets/images/demo-content/logo.png'" alt="logo">
			</a>
		</div><a routerLink="/orcamento" routerLinkActive="active" class="btn btn-motive pull-right">Peça um Orçamento</a>
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item"><a routerLink="/home" routerLinkActive="menu-active" >Home</a></li>
			<li class="nav-item"><a routerLink="/atracao" routerLinkActive="menu-active">Atrações</a></li>
			<li class="nav-item"><a routerLink="/tipoFesta" routerLinkActive="menu-active">Tipos de Festa</a></li>
			<li class="nav-item"><a routerLink="/buffet" routerLinkActive="menu-active">Buffet</a></li>
			<li class="nav-item"><a routerLink="/cardapio" routerLinkActive="menu-active">Cardápio</a></li>
			<li class="nav-item"><a routerLink="/parceiro" routerLinkActive="menu-active">Parceiros</a></li>
			<li class="nav-item"><a routerLink="/contato" routerLinkActive="menu-active">Contato</a></li>			
		</ul>
	</div>
</nav>



<!-- *** Page Header ***-->
<header data-parallax="30" class="ct-page-header" [ngClass]="{'ct-page-header--small': helper.pageTitle !== null, 'ct-page-header--big': helper.pageTitle == null}">
	<svg viewBox="0 0 100 100" preserveAspectRatio="none" class="ct-page-header__svg">
		<path d="M0,100 L 100,100 100,0 Z"></path>
	</svg>
	<div class="ct-page-header__inner">
		<div class="container">
			<h1 class="h1 ct-page-header__title" [ngClass]="{'component-invisible': helper.pageTitle == null}">{{helper.pageTitle}}</h1>
			<div class="row" [ngClass]="{'component-invisible': helper.pageTitle !== null}">
				<div class="col-md-8 col-md-offset-2">
					<h1>Festas &amp; Eventos <b>Personalizados com diversão!</b></h1>
					<p>Organizamos e divertimos a festa de suas crianças</p>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- *** Main *** -->

<router-outlet></router-outlet>	


<!-- *** Page Footer *** -->
<footer class="ct-footer">
	<div class="container">
		<div class="ct-newsletter">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h2 class="ct-newsletter__heading"><span><small>.Esteja atualizado</small>Assine <b>agora nosso newsletter</b></span></h2>
				</div>
				<div class="col-sm-6 col-md-5">
					<p class="ct-newsletter__content">Assine agora e saiba sobre novidades, promoções, eventos e muito mais...</p>
				</div>
				<div class="col-sm-12 col-md-4">
					<form class="ct-newsletter__form form-group from-inline">
						<label for="newsletter-input" class="ct-newsletter__label">E-mail</label>
						<input type="email" id="newsletter-input" placeholder="Enter your E-mail" required class="ct-newsletter__input form-control">
						<button type="submit" class="btn btn-default ct-newsletter__button"><span class="ct-newsletter__submit">Inscreva-se</span><span class="ct-newsletter__wait"><i class="fa fa-spinner"></i></span>
						</button><span class="ct-newsletter__subscribed">Obrigado por se inscrever!</span>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="widget">
					<div class="widget-inner">
						<h4 class="widget-title">Mais Sobre Nós</h4>
						<div class="col-xs-4 col-sm-3 col-md-2">
							<img [src]="helper.urlFilePath+'assets/images/demo-content/logo.png'" alt="logo" class="ct-footer__logo">
						</div>
						<div class="col-xs-8 col-sm-9 col-md-10">
						<p>Iniciando os serviços no ano de 2016 ofereçemos o melhor para festas de crianças e adultos, diversão para todas as idades e tamanhos.</p>
						</div>
						<address class="ct-address ct-footer__address topbar__address">
							<a routerLink="/contato" class="media ct-address__box">
								<div class="media-left"><i class="fa fa-map-marker"></i></div>
								<div class="media-body"><span class="media-heading">Rua Ernesto Alves, 1195, Santa Cruz do Sul / RS</span></div>
							</a>
							<a routerLink="/contato" class="media ct-address__box">
								<div class="media-left"><i class="fa fa-envelope"></i></div>
								<div class="media-body"><span class="media-heading">contato@boogabol.com.br</span></div>
							</a>
						</address>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<div class="ct-footer__copyright"><span>&copy; Forge IT Solutions 2017</span>
	</div>
</footer>

<button data-scroll="up" class="ct-btn--scroll-up"><span><i class="fa fa-chevron-up"></i></span>
</button>
<!-- *** Mobile Navbar *** -->
<div class="ct-mobile-navbar">
	<a href="index.html" class="ct-mobile-navbar__brand">
		<img [src]="helper.urlFilePath+'assets/images/demo-content/logo.png'" alt="logo">
	</a>
	<button class="btn btn-default ct-mobile-navbar__toggle">Menu
	</button>
</div>
<!-- *** Mobile Menu *** -->
<div class="ct-mobile-menu">
	<div class="ct-mobile-menu__inner">
		<form class="ct-search form-group">
			<input id="mobile-search" placeholder="Search..." required="required" name="field[]" class="form-control" />
			<label for="mobile-search" class="sr-only">Search...</label>
			<button type="submit"><i class="fa fa-search"></i>
			</button>
		</form>
		<div class="ct-mobile-menu__content">
			<ul class="ct-mobile-menu__nav list-unstyled">
				<li class="nav-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
				<li class="nav-item"><a routerLink="/atracao" routerLinkActive="active">Atrações</a></li>
				<li class="nav-item"><a routerLink="/tipoFesta" routerLinkActive="active">Tipos de Festa</a></li>
				<li class="nav-item"><a routerLink="/buffet" routerLinkActive="active">Buffet</a></li>
				<li class="nav-item"><a routerLink="/cardapio" routerLinkActive="active">Cardápio</a></li>
				<li class="nav-item"><a routerLink="/parceiros" routerLinkActive="active">Parceiros</a></li>
				<li class="nav-item"><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
				<!--
				<li role="presentation" class="dropdown nav-item nav-item"><a href="packages.html" class="dropdown-toggle">Packages<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="package-detail-1.html">Coloring Party With Clowns</a>
						</li>
						<li><a href="package-detail-2.html">Tutus &amp; Twinkle Toes</a>
						</li>
						<li><a href="package-detail-3.html">Cooking In The Backyard</a>
						</li>
						<li><a href="package-detail-4.html">Barnyard Bash With Toddlers</a>
						</li>
						<li><a href="package-detail-5.html">Cooking In The Backyard</a>
						</li>
						<li><a href="package-detail-6.html">Getting Ready For Indian Party</a>
						</li>
					</ul>
				</li>-->				
			</ul>
			<div role="separator" class="divider"></div><a href="book-party.html" class="btn btn-motive">Peça um Orçamento!</a>
			<div role="separator" class="divider"></div>
			<address class="ct-address ct-footer__address topbar__address">
				<a routerLink="/contato" class="media ct-address__box">
					<div class="media-left"><i class="fa fa-map-marker"></i></div>
					<div class="media-body"><span class="media-heading">Rua Ernesto Alves, 1195, Santa Cruz do Sul / RS</span></div>
				</a>
				<a routerLink="/contato" class="media ct-address__box">
					<div class="media-left"><i class="fa fa-envelope"></i></div>
					<div class="media-body"><span class="media-heading">contato@boogabol.com.br</span></div>
				</a>
			</address>
				<!--<div class="media-left"><i class="fa fa-phone"></i></div>
				<div class="media-body"><span class="media-heading">(012) 345-6789</span></div></a>			-->

				<ul class="ct-socials list-inline list-unstyled">
					<li class="ct-socials__item ct-socials__item--facebook"><a href="https://www.facebook.com/boogabol/"><i class="fa fa-facebook"></i></a>
					</li>
				<!--
				<li class="ct-socials__item ct-socials__item--twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="ct-socials__item ct-socials__item--flickr"><a href="#"><i class="fa fa-flickr"></i></a>
				</li>				-->
			</ul>
		</div>
	</div>
</div>


<div class="modal-bg">
	<div class="modal-window">
		<div class="modal-img hidden-xs hidden-sm"><img [src]="helper.urlFile + helper.modalImg"></div>		
		<div class="modal-text">
			<h3>{{helper.modalTitle}} {{helper.modalImg}} -</h3>
			<p>{{helper.modalText}}</p>
			<hr>
		</div>		
		<button class="modal-btn btn btn-motive" (click)="helper.hideModal()">Fechar</button>
	</div>
</div>