<div class="ct-preloader">
	<div class="ct-preloader__inner">
		<div class="ct-preloader__spinner"><i class="ct-preloader__1"></i><i class="ct-preloader__2"></i><i class="ct-preloader__3"></i><i class="ct-preloader__4"></i><i class="ct-preloader__5"></i><i class="ct-preloader__6"></i><i class="ct-preloader__7"></i><i class="ct-preloader__8"></i>
		</div>
	</div>
</div>


<!-- *** Page Navigation *** -->
<nav class="ct-menu">
	<div class="topbar">
		<div class="topbar__inner">
			<address class="ct-address ct-footer__address topbar__address"><a href="https://goo.gl/maps/obRcgtwGH5K2" class="media ct-address__box" target="_blank">
				<div class="media-left"><i class="fa fa-map-marker"></i></div>
				<div class="media-body"><span class="media-heading">Santa Cruz do Sul</span></div></a><a href="mailto:contact@myconfetti.com" class="media ct-address__box">
				<div class="media-left"><i class="fa fa-envelope"></i></div>
				<div class="media-body"><span class="media-heading">contato@boogabol.com.br</span></div></a><a href="tel:0123456789" class="media ct-address__box">
				<div class="media-left"><i class="fa fa-phone"></i></div>
				<div class="media-body"><span class="media-heading">(051) 999-9999999</span></div></a>
			</address>
		</div>
		<div class="topbar__inner">
			<ul class="ct-socials list-inline list-unstyled">
				<li class="ct-socials__item ct-socials__item--facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="ct-socials__item ct-socials__item--twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="ct-socials__item ct-socials__item--flickr"><a href="#"><i class="fa fa-flickr"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="midbar">
		<div class="midbar__inner">
			<ul class="midbar-nav list-inline">
				<li class="nav-item"><a routerLink="/" routerLinkActive="active">Piquenique</a>
				</li>
				<li class="nav-item"><a routerLink="/atracao" routerLinkActive="active">Teste</a>
				</li>							
			</ul>
		</div>
		<div class="midbar__inner"><a href="#" class="midbar__search-toggle"><i class="fa fa-search"></i></a>
		</div>
		<div class="midbar__search midbar__search--default">
			<form class="ct-search form-group">
				<input id="midbar-search" placeholder="Search..." required="required" name="field[]" class="form-control" />
				<label for="midbar-search" class="sr-only">Busca...</label>
				<button type="submit"><i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="navbar navbar-default navbar-fixed">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand">
				<img src="../assets/images/demo-content/logo.png" alt="logo">
			</a>
		</div><a href="book-party.html" class="btn btn-motive pull-right">Peça um orçamento</a>
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item"><a href="#" routerLink="/teste" routerLinkActive="active">Home</a>
			</li>
			<li role="presentation" class="dropdown nav-item nav-item"><a href="about.html" class="dropdown-toggle">Páginas<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="about.html">Sobre nós</a>
					</li>
					<li><a href="faq.html">Faq</a>
					</li>
					<li><a href="coming-soon.html">Em breve</a>
					</li>
					<li><a href="404.html">404 Page</a>
					</li>
				</ul>
			</li>
			<li class="nav-item"><a href="gallery.html">Galeria</a>
			</li>
			<li role="presentation" class="dropdown nav-item nav-item"><a href="packages.html" class="dropdown-toggle">Pacotes<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="package-detail-1.html">Coloring Party With Clowns</a>
					</li>
					<li><a href="package-detail-2.html">Tutus &amp; Twinkle Toes</a>
					</li>
					<li><a href="package-detail-3.html">Cooking In The Backyard</a>
					</li>
					<li><a href="package-detail-4.html">Barnyard Bash With Toddlers</a>
					</li>
					<li><a href="package-detail-5.html">Cooking In The Backyard</a>
					</li>
					<li><a href="package-detail-6.html">Getting Ready For Indian Party</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="dropdown nav-item nav-item"><a href="blog.html" class="dropdown-toggle">Blog<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="blog.html">Blog Elegant Listing</a>
					</li>
					<li><a href="blog2.html">Blog List With Post Types</a>
					</li>
					<li role="presentation" class="submenu"><a href="blog-post-4.html" class="submenu-toggle">Single Blog Posts<i class="fa fa-caret-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="blog-post-7.html">Video Post</a>
							</li>
							<li><a href="blog-post-10.html">Audio Post</a>
							</li>
							<li><a href="blog-post-9.html">Galeria</a>
							</li>
							<li><a href="blog-post-3.html">Imagem Post</a>
							</li>
							<li><a href="blog-post-11.html">Texto</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="nav-item"><a href="contact-us.html">Nos contate</a>
			</li>
		</ul>
	</div>
</nav>



<!-- *** Page Header ***-->
<header data-parallax="30" class="ct-page-header" [ngClass]="{'ct-page-header--small': helper.pageTitle !== null, 'ct-page-header--big': helper.pageTitle == null}">
	<svg viewBox="0 0 100 100" preserveAspectRatio="none" class="ct-page-header__svg">
		<path d="M0,100 L 100,100 100,0 Z"></path>
	</svg>
	<div class="ct-page-header__inner">
		<div class="container">
			<h1 class="h1 ct-page-header__title" [ngClass]="{'component-invisible': helper.pageTitle == null}">Some <b>Thoughts</b></h1>
			<div class="row" [ngClass]="{'component-invisible': helper.pageTitle !== null}">
				<div class="col-md-8 col-md-offset-2">
					<h1>Festas &amp; Eventos <b>Personalizados com diversão!</b></h1>
					<p>Organizamos e divertimos a festa de suas crianças</p>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- *** Main *** -->

<router-outlet></router-outlet>	


<!-- *** Page Footer *** -->
<footer class="ct-footer">
	<div class="container">
		<div class="ct-newsletter">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h2 class="ct-newsletter__heading"><span><small>.Esteja atualizado</small>Assine <b>agora nosso newsletter</b></span></h2>
				</div>
				<div class="col-sm-6 col-md-5">
					<p class="ct-newsletter__content">Assine agora e saiba sobre novidades, promoções, eventos e muito mais...</p>
				</div>
				<div class="col-sm-12 col-md-4">
					<form class="ct-newsletter__form form-group from-inline">
						<label for="newsletter-input" class="ct-newsletter__label">E-mail</label>
						<input type="email" id="newsletter-input" placeholder="Enter your E-mail" required class="ct-newsletter__input form-control">
						<button type="submit" class="btn btn-default ct-newsletter__button"><span class="ct-newsletter__submit">Inscreva-se</span><span class="ct-newsletter__wait"><i class="fa fa-spinner"></i></span>
						</button><span class="ct-newsletter__subscribed">Obrigado por se inscrever!</span>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="widget">
					<div class="widget-inner">
						<h4 class="widget-title">Mais Sobre Nós</h4>
						<img src="../assets/images/demo-content/logo.png" alt="logo" class="ct-footer__logo">
						<p>Iniciando os serviços no ano de 2016 ofereçemos o melhor para festas de crianças e adultos, diversão para todas as idades e tamnhos.</p>
						<address class="ct-address ct-footer__address ct-footer__address"><a href="https://goo.gl/maps/obRcgtwGH5K2" class="media ct-address__box" target="_blank">
							<div class="media-left"><i class="fa fa-map-marker"></i></div>
							<div class="media-body"><span class="media-heading">9870 St Vincent Place, Glasgow, DC 45 Fr 45.</span></div></a><a href="mailto:contact@myconfetti.com" class="media ct-address__box">
							<div class="media-left"><i class="fa fa-envelope"></i></div>
							<div class="media-body"><span class="media-heading">contact@myconfetti.com</span></div></a><a href="tel:0123456789" class="media ct-address__box">
							<div class="media-left"><i class="fa fa-phone"></i></div>
							<div class="media-body"><span class="media-heading">(012) 345-6789</span></div></a>
						</address>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="widget widget_recent_entries">
					<div class="widget-inner">
						<h4 class="widget-title">Recent Posts</h4>
						<ul>
							<li>
								<div class="widget-li-image">
									<img src="../assets/images/demo-content/recent-01.jpg" alt="">
								</div>
								<div class="widget-li-content">
									<h5>Title Comes Here</h5><span>By an outlived insisted procured improved am. Paid hill fine ten now love even leaf.</span><a href="#">August 21, 2015</a>
								</div>
							</li>
							<li>
								<div class="widget-li-image">
									<img src="../assets/images/demo-content/recent-02.jpg" alt="">
								</div>
								<div class="widget-li-content">
									<h5>Title Comes Here</h5><span>To make this treat, you will need to lorem ipsum</span><a href="#">August 21, 2015</a>
								</div>
							</li>
							<li>
								<div class="widget-li-image">
									<img src="../assets/images/demo-content/recent-03.jpg" alt="">
								</div>
								<div class="widget-li-content">
									<h5>Title Comes Here</h5><span>To make this treat, you will need to lorem ipsum</span><a href="#">August 21, 2015</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="widget widget_flickr">
					<div class="widget-inner">
						<h4 class="widget-title">Flickr Gallery</h4>
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=random&amp;size=s&amp;layout=x&amp;source=group&amp;group=1035848@N23"></script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ct-footer__copyright"><span>&copy; Forge IT Solutions 2017</span>
	</div>
</footer>

<button data-scroll="up" class="ct-btn--scroll-up"><span><i class="fa fa-chevron-up"></i></span>
</button>
<!-- *** Mobile Navbar *** -->
<div class="ct-mobile-navbar">
	<a href="index.html" class="ct-mobile-navbar__brand">
		<img src="../assets/images/demo-content/logo.png" alt="logo">
	</a>
	<button class="btn btn-default ct-mobile-navbar__toggle">Menu
	</button>
</div>
<!-- *** Mobile Menu *** -->
<div class="ct-mobile-menu">
	<div class="ct-mobile-menu__inner">
		<form class="ct-search form-group">
			<input id="mobile-search" placeholder="Search..." required="required" name="field[]" class="form-control" />
			<label for="mobile-search" class="sr-only">Search...</label>
			<button type="submit"><i class="fa fa-search"></i>
			</button>
		</form>
		<div class="ct-mobile-menu__content">
			<ul class="ct-mobile-menu__nav list-unstyled">
				<li class="nav-item"><a href="index.html">Home</a>
				</li>
				<li role="presentation" class="dropdown nav-item nav-item"><a href="about.html" class="dropdown-toggle">Pages<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="about.html">About Us</a>
						</li>
						<li><a href="testimonials.html">Testimonials</a>
						</li>
						<li><a href="book-party.html">Book Party</a>
						</li>
						<li><a href="faq.html">Faq</a>
						</li>
						<li><a href="coming-soon.html">Coming Soon</a>
						</li>
						<li><a href="404.html">404 Page</a>
						</li>
					</ul>
				</li>
				<li class="nav-item"><a href="gallery.html">Galeria</a>
				</li>
				<li role="presentation" class="dropdown nav-item nav-item"><a href="packages.html" class="dropdown-toggle">Packages<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="package-detail-1.html">Coloring Party With Clowns</a>
						</li>
						<li><a href="package-detail-2.html">Tutus &amp; Twinkle Toes</a>
						</li>
						<li><a href="package-detail-3.html">Cooking In The Backyard</a>
						</li>
						<li><a href="package-detail-4.html">Barnyard Bash With Toddlers</a>
						</li>
						<li><a href="package-detail-5.html">Cooking In The Backyard</a>
						</li>
						<li><a href="package-detail-6.html">Getting Ready For Indian Party</a>
						</li>
					</ul>
				</li>
				<li role="presentation" class="dropdown nav-item nav-item"><a href="blog.html" class="dropdown-toggle">Blog<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="blog.html">Blog Elegant Listing</a>
						</li>
						<li><a href="blog2.html">Blog List With Post Types</a>
						</li>
						<li role="presentation" class="submenu"><a href="blog-post-4.html" class="submenu-toggle">Single Blog Posts<i class="fa fa-caret-right"></i></a>
							<ul class="dropdown-menu">
								<li><a href="blog-post-7.html">Video Post</a>
								</li>
								<li><a href="blog-post-10.html">Audio Post</a>
								</li>
								<li><a href="blog-post-9.html">Galeria</a>
								</li>
								<li><a href="blog-post-3.html">Image Post</a>
								</li>
								<li><a href="blog-post-11.html">Text Post</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item"><a href="contact-us.html">Contact Us</a>
				</li>
			</ul>
			<div role="separator" class="divider"></div><a href="book-party.html" class="btn btn-motive">Book Now</a>
			<div role="separator" class="divider"></div>
			<ul class="ct-mobile-menu__list list-unstyled">
				<li class="nav-item"><a href="event-picnics.html">Piquenique</a>
				</li>
				<li class="nav-item"><a href="event-neighborhood.html">Neighborhood Parties</a>
				</li>
				<li class="nav-item"><a href="event-sports-teams.html">Sports Teams</a>
					<li class="nav-item"><a href="event-schools.html">Escolas</a>
					</li>
					<li class="nav-item"><a href="event-special.html">Eventos especiais</a>
					</li>
					<li class="nav-item"><a href="event-birthday.html">Festas de aniversário</a>
					</li>
				</ul>
			</div>
			<address class="ct-address ct-footer__address ct-mobile-menu__address"><a href="https://goo.gl/maps/obRcgtwGH5K2" class="media ct-address__box" target="_blank">
				<div class="media-left"><i class="fa fa-map-marker"></i></div>
				<div class="media-body"><span class="media-heading">9870 St Vincent Place, Glasgow, DC 45 Fr 45.</span></div></a><a href="mailto:contact@myconfetti.com" class="media ct-address__box">
				<div class="media-left"><i class="fa fa-envelope"></i></div>
				<div class="media-body"><span class="media-heading">contact@myconfetti.com</span></div></a><a href="tel:0123456789" class="media ct-address__box">
				<div class="media-left"><i class="fa fa-phone"></i></div>
				<div class="media-body"><span class="media-heading">(012) 345-6789</span></div></a>
			</address>
			<ul class="ct-socials list-inline list-unstyled">
				<li class="ct-socials__item ct-socials__item--facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="ct-socials__item ct-socials__item--twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="ct-socials__item ct-socials__item--flickr"><a href="#"><i class="fa fa-flickr"></i></a>
				</li>
			</ul>
