<ng2-slim-loading-bar [height]="'3px'"></ng2-slim-loading-bar>
<div class="div-loading"><img src="assets/loading.gif"></div>
<!-- Main Header -->
		<header class="main-header">
			<ng2-toasty [position]="'top-right'"></ng2-toasty>
			<!-- Logo -->
			<a href="index2.html" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>B</b></span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Boogabol</b> Admin</span>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu">
							<!-- Menu toggle button -->
							<a routerLink="/orcamento/list" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-file-text"></i>
								<span *ngIf="helper.orcamentoNaoLido > 0" class="label label-success">{{helper.orcamentoNaoLido}}</span>
							</a>
							<!--
							<ul class="dropdown-menu">
								<li class="header">Você não tem nenhum Orçamento</li>								
							</ul>
							-->
						</li>
						<!-- /.messages-menu -->					


						
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button -->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<!-- The user image in the navbar-->
								<img src="assets/theme/img/avatar1.ico" class="user-image" alt="User Image">
								<!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span class="hidden-xs">Administrador</span>
							</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header">
									<img src="assets/theme/img/avatar1.ico" class="img-circle" alt="User Image">

									<p>
										Administrador
										<small>Membro desde Sempre!</small>
									</p>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a routerLink="/login/edit" class="btn btn-default btn-flat">Alterar Senha</a>
									</div>
									<div class="pull-right">
										<a routerLink="/login/out" class="btn btn-default btn-flat">Sair</a>
									</div>
								</li>
							</ul>
						</li>						
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="assets/theme/img/avatar1.ico" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>Administrador</p>
						<!-- Status -->
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				
				<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
					<li class="header">HEADER</li>
					<li [ngClass]="{'active': helper.activeMenu == 'dashboard'}"><a style="cursor: pointer;" routerLink="/dashboard"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'buffet'}"><a style="cursor: pointer;" routerLink="/buffet/list"><i class="fa fa-cutlery"></i> <span>Buffet</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'atracao'}"><a style="cursor: pointer;" routerLink="/atracao/list"><i class="fa fa-futbol-o"></i> <span>Atração</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'cardapio'}"><a style="cursor: pointer;" routerLink="/cardapio/list"><i class="fa fa-bars"></i> <span>Cardápio</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'tipoFesta'}"><a style="cursor: pointer;" routerLink="/tipoFesta/list"><i class="fa fa-gift"></i> <span>Tipo de Festa</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'decoracao'}"><a style="cursor: pointer;" routerLink="/decoracao/list"><i class="fa fa-leaf"></i> <span>Decoração</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'parceiro'}"><a style="cursor: pointer;" routerLink="/parceiro/list"><i class="fa fa-globe"></i> <span>Parceiro</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'cliente'}"><a style="cursor: pointer;" routerLink="/cliente/list"><i class="fa fa-user"></i> <span>Cliente</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'relatorio'}"><a style="cursor: pointer;" routerLink="/relatorio"><i class="fa fa-list-alt"></i> <span>Relatório</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'orcamento'}"><a style="cursor: pointer;" routerLink="/orcamento/list"><i class="fa fa-file-text"></i> <span>Orçamento</span></a></li>
					<li [ngClass]="{'active': helper.activeMenu == 'newsletter'}"><a style="cursor: pointer;" routerLink="/newsletter/list"><i class="fa fa-envelope"></i> <span>Newsletter</span></a></li>
				</ul>
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>					
					{{helper.pageTitle}}
					<small>{{pageDescription}}</small>
				</h1>
				<!--<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
					<li class="active">Here</li>
				</ol>-->
			</section>

			<!-- Main content -->
			<section class="content">

				<router-outlet></router-outlet>				

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="pull-right hidden-xs">
				Anything you want
			</div>
			<!-- Default to the left -->
			<strong><a href="#">boogabol</a>.</strong> Todos os direitos reservados.
		</footer>

		<!-- Control Sidebar -->
		<!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->

