.ct-menu {
	z-index: 995 !important;	
}

.component-invisible { 
	display: none !important;
}

[hidden] { display: none !important;}

.ct-blog-post__media img {
	width: 220px;
    height: 220px;
    object-fit: cover;
}