.ct-menu {
	z-index: 995 !important;	
}

.component-invisible { 
	display: none !important;
}

[hidden] { display: none !important;}

.ct-blog-post__media img {
	width: 220px;
	height: 220px;
	object-fit: cover;
}

.modal-bg {
	position: fixed;
	top: 0;
	text-align: left;
	z-index: 995;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
	overflow: auto;
}

.modal-bg .modal-window {
	overflow: auto;
	margin: 0 auto;
	width: 800px;
	height: 500px;
	max-width: 95%;
	max-height: 90%;
	background-repeat: repeat;
	background-size: auto 100%; 
	background-position: center;
	border: 8px solid #004278;
	border-radius: 10px;
	color: white;	
	text-align: right;	
}

.modal-bg .modal-window .modal-text {
	text-align: left;
	padding: 15px 15px 15px 15px;
	background: rgba(0,0,0,0.4);
	text-shadow: 0 0 5px black;
}

.modal-bg .modal-window .modal-text-dark {
	overflow: scroll;
	background: rgba(255,255,255,0.9);
	height: 100%;
	color: #000;
	text-shadow: none;
}

.modal-bg .modal-window .modal-btn {
	position: absolute;
	border: 4px solid #004278;
	background: none;
	border-radius: 100%;    
	width: 40px;
	font-size: 20px;
	height: 40px;
	background: white;
	margin-left: -56px;	
	margin-top: 15px;
	color: #004278;
}

.modal-bg .modal-window .modal-btn:hover {
	border-color: black;
	color: black;
}

.modal-bg .modal-img {
	width: 100%;
	background: none;
	text-align: center;	
}

.modal-bg .modal-img img {	
	max-width: 100%;		
	max-height: 450px;
	object-fit: cover;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.menu-active {
	color: #c7280a !important;
	font-weight: 800;
	font-size: 20px;
}

.ct-party-detailed__media img {
	height: 135px;
	object-fit: cover;
}

.ct-party-detailed .btn {
	margin-top: 0;
}

.ct-theme-box__media img {
	height: 200px;
	width: 100%;	
	object-fit: cover;
}

.ct-image-box__media img {
	object-fit: cover;	
}

.btn-motive:hover, .btn-motive.is-active, .btn-motive:active, .btn-motive.active, .open > .btn-motive.dropdown-toggle, .btn-motive:active:hover, .btn-motive:active:focus, .btn-motive:active.focus, .btn-motive.active:hover, .btn-motive.active:focus, .btn-motive.active.focus, .open > .btn-motive.dropdown-toggle:hover, .open > .btn-motive.dropdown-toggle:focus, .open > .btn-motive.dropdown-toggle.focus, .btn-motive:focus, .btn-motive.focus, .ct-btn--scroll-up:hover {
	background-color: #c7280a;
	border-color: #c7280a;
}

.parceiro-item {
	padding: 3px;
}

.parceiro-item a {
	border-radius: 20px;
}

@media only screen and (max-width: 991px) {
	.ct-mobile-navbar {
		z-index: 994;
	}
}

.ct-party-box__media img {
	max-height: 178px;
	object-fit: cover;
}

.ct-party-box.ct-party-box--simple p {
	height: 93px;
}

.desktop .ct-page-header {
	background-repeat: repeat-x;
}

.ct-newsletter__button {
	bottom: 15px;
}

.p-indent {
	text-indent: 3em;
}

.navbar-brand>img {
    width: 130px;
}