<div class="box box-primary">

  <form name="form">
    <div class="box-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" value="{{elem.id}}" readonly="true">        
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" value="{{elem.nome}}" class="form-control" readonly="true" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" value="{{elem.email}}" class="form-control" readonly="true" />
          </div>
          <div class="form-group">
            <label>Nome do Aniversariante</label>
            <input type="text" value="{{elem.nome_aniversariante}}" class="form-control" readonly="true" />
          </div>
          <div class="form-group">
            <label>Data da Festa</label>
            <input type="text" value="{{elem.data}}" class="form-control" readonly="true" />            
          </div>       
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Telefone</label>
            <input type="text" value="{{elem.telefone}}" class="form-control" readonly="true" />            
          </div>
          <div class="form-group">
            <label>Onde nos Encontrou?</label>
            <input type="text" value="{{elem.onde_encontrou}}" class="form-control" readonly="true" />            
          </div>
          <div class="form-group">
            <label>Idade do Aniversariante</label>
            <input type="text" value="{{elem.idade_aniversariante}}" class="form-control" readonly="true" />            
          </div>
          <div class="form-group">
            <label>Número de Convidados</label>
            <input type="text" value="{{elem.num_convidados}}" class="form-control" readonly="true" />            
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Observações</label>
            <textarea rows="8" value="{{elem.obs}}" class="form-control ct-u-margin-top-15" readonly="true"></textarea>            
          </div>
        </div>        
      </div>      
    </div>    
  </form>
  
</div>
