<main>


	<!-- ############################################################################################################################################################################# -->
	<!-- ############################################################################################################################################################################# -->
	<!-- *** Atrações *** -->

	<section class="container">
		<h2 class="ct-section-header">Sobre   <b>os Eventos</b></h2>
		<div class="row">
			<div data-items="1" data-items-lg="2" class="ct-slick ct-js-slick ct-slick--arrows2 ct-u-padding-bottom-40">
				<div class="item" [hidden]="atracao.titulo == null">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img [src]="helper.urlFile + atracao?.id_imagem" alt="Atração" />							
						</div>

						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Atrações</span>
							</div>
							<h3 class="h4 ct-blog-post__title">{{atracao.titulo}}</h3>
							<div class="ct-blog-post__content">{{atracao.descricao.length <= 100 ? atracao.descricao : (atracao.descricao | slice:0:100) + "..."}}
							</div><a routerLink="/atracao" routerLinkActive="active" class="btn btn-gray-o">Ver Todas</a>
						</div>
					</article>
				</div>		
				<div class="item" [hidden]="tipoFesta.titulo == null">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img [src]="helper.urlFile + tipoFesta?.id_imagem" alt="Tipo de Festa" />
						</div>
						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Tipo de Festa</span>
							</div>
							<h3 class="h4 ct-blog-post__title">{{tipoFesta.titulo}}</h3>
							<div class="ct-blog-post__content">{{tipoFesta.descricao.length <= 100 ? tipoFesta.descricao : (tipoFesta.descricao | slice:0:100) + "..."}}
							</div><a routerLink="/tipoFesta" routerLinkActive="active" class="btn btn-gray-o">Ver Todos</a>
						</div>
					</article>
				</div>		
				<div class="item" [hidden]="buffet.titulo == null">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img [src]="helper.urlFile + buffet?.id_imagem" alt="Buffet" />
						</div>
						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Buffet</span>
							</div>
							<h3 class="h4 ct-blog-post__title">{{buffet.titulo}}</h3>
							<div class="ct-blog-post__content">{{buffet.descricao.length <= 100 ? buffet.descricao : (buffet.descricao | slice:0:100) + "..."}}
							</div><a routerLink="/buffet" routerLinkActive="active" class="btn btn-gray-o">Ver Todos</a>
						</div>
					</article>
				</div>
				<div class="item" [hidden]="cardapio.titulo == null">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img [src]="helper.urlFile + cardapio?.id_imagem" alt="Cardápio" />
						</div>
						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Cardápio</span>
							</div>
							<h3 class="h4 ct-blog-post__title">{{cardapio.titulo}}</h3>
							<div class="ct-blog-post__content">{{cardapio.descricao.length <= 100 ? cardapio.descricao : (cardapio.descricao | slice:0:100) + "..."}}
							</div><a routerLink="/cardapio" routerLinkActive="active" class="btn btn-gray-o">Ver Todos</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>


	<!-- *** About Jessica *** -->
	<section data-background="assets/images/party-kids-bg.jpg" data-height="511" data-parallax="30" class="ct-u-mask ct-u-display-tablex text-center ct-u-padding-both-40">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img [src]="helper.urlFilePath+'assets/images/kids.jpg'" alt="Jessica Horse">
					</div>
					<div class="col-md-6">
						<h2 class="ct-section-header ct-section-header--white ct-u-margin-top-40">Quem    <b>Somos</b></h2>
						<p data-color="#ffffff">
							A BOOGABOL festas, diversão e complexo esportivo é um espaço que foi
							projetado com toques especiais e diferenciados, para oferecer muita diversão e
							entretenimento a todos e encantar o universo infantil, teen e adulto														
						</p>
						<a routerLink="/tipoFesta" routerLinkActive="active" class="btn btn-gray-o">Ver Mais</a>
						<!--<a href="about.html" class="btn btn-default-o">Read More</a>-->
					</div>
				</div>
			</div>
		</div>
	</section>	

	<section id="parceiroList" data-parallax="35" class="ct-u-padding-bottom-50">
		<div class="container">
			<h2 class="ct-section-header">Nossos   <b>Parceiros</b></h2>
		</div>
		<div class="container">
			<div data-items-xl="4" data-items-lg="3" data-items-sm="2" data-items-xs="1" class="ct-slick ct-js-slick">
				<div class="item parceiro-item" *ngFor="let elem of parceiroList">
					<a href="{{elem.link}}" class="ct-theme-box">
						<div class="ct-theme-box__media">
							<img [src]="helper.urlFile + elem?.id_imagem" alt="Parceiro" />
						</div>
						<div class="ct-theme-box__content">
							<div class="outer">
								<div class="inner"><span class="ct-theme-box__title">{{elem.nome}}</span></div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>