<main>


	<!-- ############################################################################################################################################################################# -->
	<!-- ############################################################################################################################################################################# -->
	<!-- *** Atrações *** -->

	<section class="container">
	<h2 class="ct-section-header">Sobre   <b>os Eventos</b></h2>
		<div class="row">
			<div data-items="1" data-items-lg="2" class="ct-slick ct-js-slick ct-slick--arrows2 ct-u-padding-bottom-40">
				<div class="item">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img src="assets/images/demo-content/blog-01.png" alt="Cupcake Paper Flowers" />
						</div>
						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Tipo do Seu Evento</span>
							</div>
							<h3 class="h4 ct-blog-post__title">Confira!!</h3>
							<div class="ct-blog-post__content">Diversos tipos de eventos para adequar-se melhor a sua festa
							</div><a href="blog-post-1.html" class="btn btn-gray-o">Ver...</a>
						</div>
					</article>
				</div>
				<div class="item">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img src="assets/images/demo-content/blog-02.png" alt="Biscuits Handmade" />
						</div>
						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Atrações</span>
							</div>
							<h3 class="h4 ct-blog-post__title">Confira!!</h3>
							<div class="ct-blog-post__content">Quando se fala de uma boa festa lembramos tudo o que tinha para fazer nela
							</div><a href="blog-post-2.html" class="btn btn-gray-o">Ver Atrações</a>
						</div>
					</article>
				</div>
				<div class="item">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img src="assets/images/demo-content/blog-03.png" alt="Graduation Cuties Celementines" />
						</div>
						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Buffet</span>
							</div>							
							<h3 class="h4 ct-blog-post__title">Confira!!</h3>
							<div class="ct-blog-post__content">Nada melhor do que o delicioso Buffet para reunir as crianças
							</div><a href="blog-post-3.html" class="btn btn-gray-o">Ver Buffet</a>
						</div>
					</article>
				</div>
				<div class="item">
					<article class="ct-blog-post ct-blog-post--image">
						<div class="ct-blog-post__media">
							<img src="assets/images/demo-content/blog-04.png" alt="Party Favors Chalkboard" />
						</div>
						<div class="ct-blog-post__body">
							<div class="ct-blog-post__date"><span class="ct-blog-post__month">Cardápio</span>
							</div>
							<h3 class="h4 ct-blog-post__title">Confira!!</h3>
							<div class="ct-blog-post__content">Diversos Cardapios para todos os Gostos
							</div><a href="blog-post-4.html" class="btn btn-gray-o">Ver...</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>


	<!-- *** About Jessica *** -->
	<section data-background="../assets/images/demo-content/bg-02.jpg" data-height="511" data-parallax="30" class="ct-u-mask ct-u-display-tablex text-center ct-u-padding-both-40">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="../assets/images/demo-content/jhorse.jpg" alt="Jessica Horse">
					</div>
					<div class="col-md-6">
						<h2 class="ct-section-header ct-section-header--white ct-u-margin-top-40">Sobre a    <b>Boogabol</b></h2>
						<p data-color="#ffffff">Festas totalmente personalizadas é a nossa especialidade, desde o delicioso Buffet até a decoração perfeita para uma total imersão e diversão para todos os convidados. Peça um orçamento e aproveito nossas promoções.</p>
						<a
						href="about.html" class="btn btn-default-o">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>	
</main>