<div class="box">	
	<div class="box-header">
		<div class="btn-group">
			<button type="button" [routerLink]="['/parceiro/new']" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-plus"></i></button>					
		</div>
	</div>
	<div class="box-body">
		<table class="tableFull table table-bordered table-striped">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Nome</th>
					<th>Imagem</th>					
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let elem of list">
					<td>
						<div class="btn-group">
							<button type="button" [routerLink]="['/parceiro/edit', elem.id]" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-pencil"></i></button>					
							<button type="button" class="btn btn-danger" (click)="onRemove(elem.id)"><i class="fa fa-remove"></i></button>					
						</div>
					</td>
					<td>{{elem.id}}</td>
					<td>{{elem.nome}}</td>
					<td>
						<div class="div-img-list" *ngIf="elem.id_imagem">
							<img class="thumbnail" [src]="urlFile + elem.id_imagem"/>
						</div>
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
</div>