<div class="modal-calendar" [hidden]="modalHidden">
	<div class="modal-calendar-window">
		<h4><i class="fa fa-calendar"></i>{{modalTitle}}</h4>
		<div>
			<div class="form-group">
				<label>Título</label>
				<input type="text" class="form-control" [(ngModel)]="calendario.titulo" name="titulo" maxlength="255">        
			</div>
			<div class="row">
				<div class="form-group col-xs-6">
					<label>Cor Primária</label>
					<input type="color" class="form-control" [(ngModel)]="calendario.cor_primaria" (change)="refresh.next()">				
				</div>
				<div class="form-group col-xs-6">
					<label>Cor Secundária</label>
					<input type="color" class="form-control" [(ngModel)]="calendario.cor_secundaria" (change)="refresh.next()">
				</div>			
			</div>
			<div class="row">
				<div class="form-group col-xs-6">
					<label>Começa Em</label>
					<input type="text" [(ngModel)]="calendario.data_ini" placeholder="dd/mm/yyyy" class="form-control data-mask">
				</div>	
				<div class="form-group col-xs-6">
					<label>Termina Em</label>
					<input type="text" [(ngModel)]="calendario.data_fim" placeholder="dd/mm/yyyy" class="form-control data-mask">
				</div>	
			</div>	
			<hr>
			<div class="text-right">		
				<button type="button" class="btn btn-primary" (click)="saveEvent();">Salvar</button>				
				<button type="button" class="btn btn-danger" (click)="removeEvent();">Remover</button>				
				<button type="button" class="btn btn-default" (click)="modalHidden = true;">Cancelar</button>				
			</div>		
		</div>	
	</div>
</div>

<div class="box">		
	<div class="box-body">
		<div class="row">
			<div class="col-sm-4 text-left">
				<div class="btn-group">
					<div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"><i class="fa fa-chevron-left"></i></div>
					<div class="btn btn-secondary" mwlCalendarToday [(viewDate)]="viewDate">Hoje</div>
					<div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"><i class="fa fa-chevron-right"></i></div>
				</div>
			</div>			
			<div class="col-sm-4 text-center">
				<h3 style="margin-top: 0; text-transform: uppercase;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt-br' }}</h3>
			</div>			
			<div class="col-sm-4">
				<button class="btn btn-primary pull-right" (click)="addEvent()"><i class="fa fa-plus"></i> Adicionar </button>
			</div>
		</div>
		<br>
		<div [ngSwitch]="view">
			<mwl-calendar-month-view *ngSwitchCase="'month'" [locale]="locale" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"></mwl-calendar-month-view>
		</div>
	</div>
</div>
