/* You can add global styles to this file, and also import other style files */

table tbody th, table tbody td {
	vertical-align: middle !important;	
}

.div-img-list img { 
	max-width: 100px;
	max-height: 50px;
	margin: 0;
}

.div-img-form img {
	max-width: 100%;
	max-height: 200px;
	margin: 0;	
} 