/* You can add global styles to this file, and also import other style files */

body {
	background: #222d32;
}

table tbody th, table tbody td {
	vertical-align: middle !important;	
}

.div-img-list img { 
	max-width: 100px;
	max-height: 50px;
	margin: 0;
}

.div-img-form img {
	max-width: 100%;
	max-height: 200px;
	margin: 0;	
} 

.login-div {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #ecf0f5;
	z-index: 5000;
}

.main-sidebar, .left-side {
}

.slim-loading-bar-progress {
	background: #3c8dbc;
	position: fixed;
	top: 0;
	z-index: 99999;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.td-grey {
	background: #CCC;
}

.div-loading {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;	
	background: rgba(0,0,0,0.5);
}

.div-loading .div-loading-window {
	margin: 0 auto;	
	width: 180px;
	text-align: center;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 18px;
}

.div-loading .loading-logo img {
	width: 100px;
}

.div-loading .loading-gif img {
	width: 42px;
}


.modal-confirm {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9980;
	background: rgba(0,0,0,0.2);
}

.modal-window {
	margin: 0 auto;
	width: 500px;
	max-width: 90%;
	padding: 5px 10px 10px 15px;
	background: white;
}

.modal-window p {
	margin-top: 18px;
}

.modal-window div {
	margin-top: 15px;
}