<div class="box">		
	<div class="box-body">
		<table class="tableFull table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let elem of list">
					<td>{{elem.id}}</td>
					<td>{{elem.email}}</td>					
					<td>
						<button type="button" class="btn btn-danger btn-sm" (click)="onRemove(elem.id)"><i class="fa fa-remove"></i></button>					
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>