 <main>
    <div class="container ct-u-padding-top-30">
        <!-- *** Shop Locator *** -->
        <div class="ct-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.3205764616973!2d-52.43325678529088!3d-29.710471882005063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ca345f978db3f%3A0x24025c40c7c7b3ee!2sParque+da+Oktoberfest!5e0!3m2!1spt-BR!2sbr!4v1486849517651" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- *** Address Boxes *** -->
        <div class="ct-address-box__container">
            <div class="col-md-4">
                <div class="ct-address-box">
                    <h3 class="ct-address-box__header">Nosso<b>Endereço</b></h3>
                    <ul class="ct-address-box__list">
                        <li><a href="https://www.google.pl/maps" target="_blank"><i class="fa fa-map-marker"></i><span>R. Mal Floriano Peixoto, 000</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ct-address-box">
                    <h3 class="ct-address-box__header">Nossos<b>Telefones</b></h3>
                    <ul class="ct-address-box__list">
                        <li><a href="tel:9516834114"><i class="fa fa-phone"></i><span>(51) 0000-0000</span></a>
                        </li>
                        <li><a href="tel:9516834121"><i class="fa fa-mobile"></i><span>(51) 90000-0000</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ct-address-box">
                    <h3 class="ct-address-box__header">Nosso<b>Email</b></h3>
                    <ul class="ct-address-box__list">
                        <li><a href="mailto:contact@myconfetti.com"><i class="fa fa-envelope"></i><span>contato@boogabol.com.br</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- *** Get In Touch *** -->
    <section class="container">
        <div class="row">
            <div class="ct-form-section ct-form-section--type2">
                <h2 class="h4 ct-form-section__title text-left">Fale Conosco</h2>
                <form class="ct-js-validate ct-form-section__form">
                    <span class="ct-form-section__header">Responderemos assim que possível.</span>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" placeholder="Nome" id="name" [(ngModel)]="contato.nome" name="nome" required="required" class="form-control" />
                                <label for="name" class="sr-only">Nome</label>
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email" id="email" [(ngModel)]="contato.email" name="email" required="required" class="form-control" />
                                <label for="email" class="sr-only">Email</label>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Telefone" id="telefone" [(ngModel)]="contato.telefone" name="telefone" required="required" class="form-control" />
                                <label for="telefone" class="sr-only">Telefone</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <textarea placeholder="Mensagem" id="message" rows="7" required="required" [(ngModel)]="contato.menssagem" name="mensagem" class="form-control"></textarea>
                                <label for="message" class="sr-only">Messagem</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="alert-success">
                                {{messageSuccess}}
                            </div>
                            <div class="alert-danger">
                                {{messageError}}
                            </div>
                            <button type="button" [hidden]="btnHide" class="btn btn-motive" (click)="onSubmit();">Enviar</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
</main>