<div class="box box-primary">

  <form name="form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="box-body">
      <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" disabled="true" value="{{complexForm.value.id}}">        
      </div>
      <div class="form-group">      
        <label for="f1">Título</label>
        <input type="text" class="form-control" id="f1" maxlength="255" placeholder="Título" [formControl]="complexForm.controls['titulo']">
        <p class="text-danger" [hidden]="complexForm.controls.titulo.valid || (complexForm.controls.titulo.pristine && !submitted)">
          Nome é Obrigatório
        </p>
      </div>
      <div class="form-group">
        <label for="f2">Descrição</label>
        <textarea class="form-control" id="f2" placeholder="Descrição"  [formControl]="complexForm.controls['descricao']"></textarea>
      </div>     
      <div class="form-group">
        <label for="f3">Duração da Festa</label>
        <input type="text" class="form-control" id="f3" maxlength="45" placeholder="Duração da Festa" [formControl]="complexForm.controls['duracao_festa']">
      </div>      
      <div class="form-group">
        <label>Imagem</label>
        <input type="file" (change)="onFileChange($event)"/>
        <div class="div-img-form" *ngIf="complexForm.value.id_imagem">
          <img class="thumbnail" [src]="urlFile + complexForm.value.id_imagem"/>
        </div>
      </div>  
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
  
</div>


<div class="box box-info">

  <div class="box-header">
    <h3 class="box-title">Seções</h3>        
  </div>

  <form name="formAux" (ngSubmit)="submitFormAux()">    
    <div class="box-body">

      <div class="row">
        <div class="col-xs-10 col-md-11 form-group">
          <label>Adicionar Seção</label>
          <select class="form-control" [(ngModel)]="itemSelected" name="itemSelected">
            <option *ngFor="let elem of listElemAux; let i = index" [value]="i">
              {{elem.descricao.length <= 80 ? elem.descricao : (elem.descricao | slice:0:80) + "..."}}       
            </option>     
          </select>
        </div>
        <div class="col-xs-2 col-md-1 form-group">
          <label>-</label>
          <button type="button" class="form-control btn btn-sm btn-info" (click)="addItem()"><i class="fa fa-plus"></i></button>
        </div>
      </div>

      <hr>
      <p><b>Seções do Pacote</b></p>
      <div class="row" *ngFor="let elem of listAux; let i = index">
        <div class="col-xs-10 col-md-11 form-group">
          <input type="text" class="form-control" value="{{elem.descricao.length <= 80 ? elem.descricao : (elem.descricao | slice:0:80) + '...'}}" readonly="true">                    
        </div>
        <div class="col-xs-2 col-md-1 form-group">
          <button type="button" class="form-control btn btn-sm btn-danger" (click)="removeItem(i)"><i class="fa fa-remove"></i></button>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Salvar Seções</button>
    </div>
  </form>

</div>
