<main>
    <!-- *** Packages *** -->
    <div class="container ct-u-padding-bottom-50">
        <div class="row complexo-item" *ngFor="let elem of list">
            <div class="col-sm-6">
                <div class="complexo-img">
                    <img class="img-shadow" [src]="helper.urlFile + elem?.id_imagem" alt="Complexo" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="complexo-info">
                    <h2>{{elem.titulo}}</h2>
                    <br>
                    <p>{{elem.descricao | slice:0:400}}...</p>
                    <br>
                    <a class="btn btn-motive" (click)="helper.showModal(elem.titulo, elem.descricao, elem.id_imagem)">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</main>