<div class="box box-primary">

  <form name="form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="box-body">

      <div class="row">

        <div class="col-lg-8 form-group">
          <label for="f1">Nome</label>
          <input type="text" class="form-control" id="f1" maxlength="255" placeholder="Nome" [formControl]="complexForm.controls['nome']">
          <p class="text-danger" [hidden]="complexForm.controls.nome.valid || (complexForm.controls.nome.pristine && !submitted)">
            Nome é Obrigatório
          </p>
        </div>      

        <div class="col-lg-4 form-group">
          <label for="f2">CPF</label>
          <input type="text" class="form-control" id="f2" maxlength="11" placeholder="CPF" [formControl]="complexForm.controls['cpf']">
          <p class="text-danger" [hidden]="complexForm.controls.cpf.valid || (complexForm.controls.cpf.pristine && !submitted)">
            Somente Números
          </p>
        </div>

      </div>

      <div class="form-group">
        <label for="f3">Endereço</label>
        <input type="text" class="form-control" id="f3" maxlength="500" placeholder="Endereço" [formControl]="complexForm.controls['endereco']">        
      </div>

      <div class="row">

        <div class="col-lg-8 form-group">
          <label for="f4">Cidade</label>
          <input type="text" class="form-control" id="f4" maxlength="255" placeholder="Cidade" [formControl]="complexForm.controls['cidade']">        
        </div>

        <div class="col-lg-4 form-group">
          <label for="f5">CEP</label>
          <input type="text" class="form-control" id="f5" maxlength="8" placeholder="CEP" [formControl]="complexForm.controls['cep']">
          <p class="text-danger" [hidden]="complexForm.controls.cep.valid || (complexForm.controls.cep.pristine && !submitted)">
            Somente Números
          </p>
        </div>

      </div>

      <div class="row">      

        <div class="col-lg-8 form-group">
          <label for="f7">Email</label>
          <input type="text" class="form-control" id="f7" maxlength="255" placeholder="Email" [formControl]="complexForm.controls['email']">        
        </div>

        <div class="col-lg-4 form-group">
          <label for="f6">Telefone</label>
          <input type="text" class="form-control" id="f6" maxlength="50" placeholder="Telefone" [formControl]="complexForm.controls['telefone']">        
        </div>

      </div>
      
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
