<main>
    <!-- *** Packages *** -->
    <div class="container ct-u-padding-bottom-50">
        <div class="row">
        <div class="col-md-6" *ngFor="let elem of list">
                <div class="ct-party-detailed__container">
                    <div class="ct-party-detailed ct-party-detailed--default">
                        <div class="ct-party-detailed__media">
                            <img [src]="helper.urlFile + elem?.id_imagem" alt="Atração" />
                        </div>
                        <div class="ct-party-detailed__body">
                            <h4 class="ct-party-detailed__title">{{elem.titulo}}</h4>
                            <a class="btn btn-motive" (click)="helper.showModal(elem.titulo, elem.descricao, elem.id_imagem)">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>