<div class="box">	
	<div class="box-header">
		<div class="btn-group">
			<button type="button" [routerLink]="['/secao/new']" routerLinkActive="active" class="btn btn-primary"><i class="fa fa-plus"></i></button>					
		</div>
	</div>
	<div class="box-body">
		<table class="tableFull table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Descrição</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let elem of list">
					<td>{{elem.id}}</td>
					<td>{{elem.descricao.length <= 100 ? elem.descricao : (elem.descricao | slice:0:100) + "..."}}</td>		
					<td>
						<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/secao/edit', elem.id]" routerLinkActive="active"><i class="fa fa-pencil"></i></button>					
						<button type="button" class="btn btn-danger btn-sm" (click)="onRemove(elem)"><i class="fa fa-remove"></i></button>					
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>