<div class="box box-primary">

  <form name="form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="box-body">
      <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" disabled="true" value="{{complexForm.value.id}}">        
      </div>     
      <div class="form-group">
        <label for="f2">Descrição</label>
        <textarea class="form-control" id="f2" placeholder="Descrição"  [formControl]="complexForm.controls['descricao']"></textarea>
      </div>    
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>


<div class="box box-info">

  <div class="box-header">
    <h3 class="box-title">Itens</h3>        
  </div>

  <form name="formAux" (ngSubmit)="submitFormAux()">    
    <div class="box-body">

      <div class="row">
        <div class="col-xs-10 col-sm-11 form-group">
          <label>Adicionar Item</label>
          <select class="form-control" [(ngModel)]="itemSelected" name="itemSelected">
            <option *ngFor="let elem of listElemAux; let i = index" [value]="i">
              {{elem.descricao.length <= 80 ? elem.descricao : (elem.descricao | slice:0:80) + "..."}}       
            </option>     
          </select>
        </div>
        <div class="col-xs-2 col-sm-1 form-group">
          <label>-</label>
          <button type="button" class="form-control btn btn-sm btn-info" (click)="addItem()"><i class="fa fa-plus"></i></button>
        </div>
      </div>

      <hr>
      <p><b>Ítens da Seção</b></p>
      <div class="row" *ngFor="let elem of listAux; let i = index">
        <div class="col-xs-10 col-sm-11 form-group">
          <input type="text" class="form-control" value="{{elem.descricao.length <= 80 ? elem.descricao : (elem.descricao | slice:0:80) + '...'}}" readonly="true">                    
        </div>
        <div class="col-xs-2 col-sm-1 form-group">
          <button type="button" class="form-control btn btn-sm btn-danger" (click)="removeItem(i)"><i class="fa fa-remove"></i></button>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Salvar Itens</button>
    </div>
  </form>

</div>