<main>
	<div class="container ct-u-padding-top-30 ct-u-padding-bottom-50">
		<div class="row">
			<div class="pacote-div" *ngFor="let pacote of list" >                
				<div class="pacote-titulo cursor-pointer" [ngClass]="{'pacote-titulo-active': hiddenPacote == pacote.id}" (click)="ofPacote(pacote.id);">
					<i class="icon-pacote-1 hide-xs fa" [ngClass]="{'fa-chevron-right': hiddenPacote !== pacote.id, 'fa-chevron-down': hiddenPacote == pacote.id}"></i> 
					<i><span> {{pacote.titulo}}</span> - &nbsp;&nbsp; {{pacote.descricao}}</i>										
				</div>
				<div *ngFor="let secao of pacote.listSecao" [hidden]="hiddenPacote !== pacote.id">
					<div class="secao-descricao"><i class="fa fa-chevron-right"></i> {{secao.descricao}}</div>
					
					<div *ngFor="let item of secao.listItem">
						<div class="item-descricao"> <i class="fa fa-angle-right"></i> {{item.descricao}}</div>
					</div>
				</div>
			</div>            
		</div>
	</div>
</main>